[Unit]
Description=Power monitor API
After=network.target

[Service]
User=www-data
WorkingDirectory=/opt/power-monitor

EnvironmentFile=/opt/power-monitor/.env

ExecStart=/home/username/venv/bin/python -m uvicorn server:app --host 127.0.0.1 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target